// only for color related variables
// ------------------------------------------
//colors for background
$bg-white:#fff;
$bg-black:#333;
$bg-primary:#377DFF;
$bg-danger:#f44336;
$bg-success:#2e7d32;
$bg-basic: #C4C4C4;
//colors for text
$text-white:#fff;
$text-black:#333;
$text-primary:#377DFF;
$text-danger:#f44336;
$text-success:#2e7d32;
$text-basic: #6B6B6B;
//colors for borders (may include alpha)
$border-white: #fff;
$border-black: #333;
$border-light: rgba(0, 0, 0, 0.05);
$border-primary:#377DFF;
$border-danger:#f44336;
$border-success:#2e7d32;
// box shadow
$shadow-light: rgba(0, 0, 0, 0.1);